footer{
    background-color: var(--footer-color);
    padding: 25px 45px 45px 45px;
    width: 1230px;
    border-radius: 25px;
}
.columnLabel{
    font-family: 'Multiround';
    font-size: 25px;
    color: var(--black);
}
.firstCol, .twoCol, .thridCol{
    padding-top: 10px;
}
.columnBtn, .textFooter{
    font-family: 'inter';
    font-size: 15px;
}
.columnBtn{
    padding: 3px;
    opacity: 0.6;
    transition: 100ms;
}
.columnBtn:hover{
    opacity: 1;
    transition: 100ms;
}
.ulFooter{
    display: flex;
    gap: 60px;
}
.bottomFooter{
    margin-top: 50px;
}
.paymentsInfo{
    width: 1230px;
    margin-top: 10px;
}