/* Базовые стили Header'а (добавляем transition и fixed-позиционирование) */
.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header.hidden {
  transform: translateY(-150%);
}

main{
  margin-top: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Header */
  /* header logo & menu */
  .logo {
    width: 56px;
    height: 60px;
  }
  .headerTop {
    display: inline-flex;
    position: -webkit-sticky;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    width: 81.35%;
    margin: 0px;
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 0.625rem 1.438rem;
    border-radius: 1.25rem;
    z-index: 100;
  }
  /* /header logo & menu */
  .headerBottom, .headerButtons {
    display: none;
  }
  /* /Header */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Header */
  /* header logo & menu */
  .logo {
    width: 56px;
    height: 60px;
  }
  .headerTop {
    display: inline-flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    width: 81.35%;
    margin: 0px;
    box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
    padding: 0.625rem 1.438rem;
    border-radius: 1.25rem;
    z-index: 100;
  }
  /* /header logo & menu */
  .headerBottom, .headerButtons {
    display: none;
  }
  /* /Header */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Header top section */
  .headerTop {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-width: 87.3%;
    height: 60px;
    border-radius: 20px;
    background: var(--primary);
  }
  .logo {
    margin: 10px 0px 10px 20px;
    height: 60px;
    width: 60px;
  }
  .headerButtons {
    margin: 10px 20px 10px 0px;
  }
  .headerButtons {
    font-family: 'Inter';
    font-size: calc(1.125rem + -0.2vw);
    font-weight: 600;
  }
  .phoneBtn, .locationBtn {
    height: 80px;
    opacity: 0.6;
    transition: 100ms;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .phoneBtn:hover, .locationBtn:hover {
    cursor: pointer;
    transition: 100ms;
    opacity: 1;
  }
  .phoneBtn {
    margin-right: 40px;
  }
  .iconPhone, .iconLocation {
    margin-right: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .headerBottom, .headerButtons {
    display: block;
  }
  .mobileBottomMenu {
    display: none;
  }
  /* header bottom section */
  .headerBottom {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 87.3%;
    height: 60px;
  }
  .navMenu {
    display: inline-flex;
    padding: 0 20px 0 20px;
  }
  .navbtn {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px 7.5px 10px 7.5px;
    list-style-type: none;
    font-size: calc(0.6rem + 1vw);
    font-weight: 400;
    font-family: 'Multiround';
    color: #808080;
    transition: 100ms;
  }
  .navbtn:hover {
    color: var(--black);
    transition: 100ms;
  }
  .iconsBtn {
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .navicons {
    opacity: 0.6;
    transition: 100ms;
  }
  .navicons:hover {
    opacity: 1;
    transition: 100ms;
  }
  .mobileBottomNav {
    display: none;
  }
  .hamburger-menu-container {
    display: none;
  }
  /* /header bottom section */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* header bottom section */
  .headerBottom {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 87.3%;
    height: 60px;
  }
  .navMenu {
    display: inline-flex;
    padding: 0 20px 0 20px;
  }
  .navbtn {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px 7.5px 10px 7.5px;
    list-style-type: none;
    font-size: calc(0.6rem + 1vw);
    font-weight: 400;
    font-family: 'Multiround';
    color: #808080;
    transition: 100ms;
  }
  .navbtn:hover {
    color: var(--black);
    transition: 100ms;
  }
  .iconsBtn {
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .navicons {
    opacity: 0.6;
    transition: 100ms;
  }
  .navicons:hover {
    opacity: 1;
    transition: 100ms;
  }
  .mobileBottomNav {
    display: none;
  }
  /* /header bottom section */
}