
.accordion {
    width: 100%;
    margin: 0 auto;
  }
  
  .accordion-item {
    padding: 5px 0px;
  }
  
  .accordion-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    min-height: 40px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--primary);
    z-index: 2;
  }
  
  .accordion-title {
    font-family: Multiround;
    font-size: 16px;
  }
  
  .accordion-icon {
    display: flex;
    align-items: center;
  }
  
  .accordion-icon-img {
    width: 20px;
    height: 20px;
    transition: 0.2s;
  }
  
  .accordion-content {
    margin-top: -40px;
    padding: 50px 10px 10px 10px;
    background-color: #FFDA33;
    border-radius: 20px;
  }
  
  .accordion-content ul {
    padding-left: 20px;
  }
  .accordionItem{
    color: var(--black);
    font-family: Multiround;
    font-size: calc(0.95rem + -0.2vw);
    padding: 2.5px 0px 2.5px calc(10px + -0.2vw);
  }
  
  .accordion-content a {
    display: block;
    margin: 5px 0;
    font-family: Multiround;
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
  }
  
  .accordion-content a:hover {
    text-decoration: underline;
  }
  