<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><b>Политика конфиденциальности</b></h1>
        <span>Дата вступления в силу: от 3.11.2024</span>
        <ol>


            <li>
                <p>
                    <b>Общие положения</b>
                </p>
                <span>
                    Настоящая Политика конфиденциальности (далее – «Политика») составлена в соответствии с 
                    требованиями Закона Республики Беларусь от 10 мая 2010 года № 105-З «О защите персональных данных» 
                    (далее – Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, 
                    предпринимаемые ИП Малахов Роман Вячеславович (далее – Оператор).
                </span>
                <ol>
                    <li>Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке
                         его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                    </li>
                    <li>Настоящая Политика применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://rmbike.by/ (далее – Сайт).</li>
                </ol>
            </li>


            <li>
                Основные понятия, используемые в Политике
                <ol>
                    <li>Персональные данные — любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю Сайта.</li>
                    <li>Обработка персональных данных — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</li>
                    <li>Оператор — физическое лицо, самостоятельно или совместно с другими лицами организующее и/или осуществляющее обработку персональных данных, а также определяющее цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</li>
                    <li>Субъект персональных данных — физическое лицо, к которому относятся персональные данные.</li>
                    <li>Согласие субъекта персональных данных — любое добровольное, конкретное, информированное и однозначное волеизъявление субъекта персональных данных в форме действий, в том числе совершаемых с использованием средств автоматизации, направленное на подтверждение согласия на обработку его персональных данных.</li>
                    <li>Трансграничная передача персональных данных — передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу.</li>
                </ol>
            </li>


            <li>Основные права и обязанности Оператора</li>
                <ol>
                    <li>Оператор имеет право:
                        <ul>
                            <li>Получать от субъекта персональных данных достоверную информацию и/или документы, содержащие персональные данные, необходимые для достижения целей обработки персональных данных.</li>
                            <li>В случае отзыва субъектом персональных данных согласия на обработку персональных данных, а также направления обращения с требованием о прекращении обработки персональных данных, Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, предусмотренных Законом о персональных данных.</li>
                            <li>Самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных, если иное не предусмотрено Законом о персональных данных.</li>
                        </ul>
                    </li>
                    <li>Оператор обязан:
                        <ul>
                            <li>Предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных.</li>
                            <li>Обеспечивать обработку персональных данных в порядке, установленном действующим законодательством Республики Беларусь.</li>
                            <li>Отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных.</li>
                            <li>Сообщать в уполномоченный орган по защите прав субъектов персональных данных по запросу этого органа необходимую информацию в течение 10 дней с даты получения такого запроса.</li>
                            <li>Публиковать или иным образом обеспечивать неограниченный доступ к настоящей Политике в отношении обработки персональных данных.</li>
                            <li>Принимать правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.</li>
                            <li>Прекратить передачу (распространение, предоставление, доступ) персональных данных, прекратить обработку и уничтожить персональные данные в порядке и случаях, предусмотренных Законом о персональных данных.</li>
                            <li>Исполнять иные обязанности, предусмотренные Законом о персональных данных.</li>
                        </ul>
                    </li>
                </ol>
            <li>Основные права и обязанности субъектов персональных данных</li>
            <li>Принципы обработки персональных данных</li>
            <li>Цели обработки персональных данных</li>
            <li>Условия обработки персональных данных</li>
            <li>Порядок сбора, хранения, передачи и других видов обработки персональных данных. Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства Республики Беларусь в области защиты персональных данных.</li>
            <li>Перечень действий, производимых Оператором с полученными персональными данными</li>
            <li>Трансграничная передача персональных данных</li>
            <li>Конфиденциальность персональных данных</li>
            <li>Заключительные положения</li>
        </ol>
    </div>
</body>
</html>