<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Условия доставки</h1>


        <h3>Самовывоз из магазина</h3>
            <ul>
                <li>
                    Вы можете самостоятельно забрать товар в нашем магазине придя к нам по адресу: 
                    <b>ул. Катунина 5, г. Гомель, Беларусь. Время работы с 10 до 19, без выходных.</b>
                </li>
                <li>
                    Вы можете оформить заказ на сайте и выбрать пункт <b>"Самовывоз"</b> в корзине при оформлении заказа. 
                    Менеджеры магазина подготовят ваш заказ и вам придет уведомление. Придя в магазин, обратитесь к сотруднику в кассовой зоне и назовите номер заказа. 
                    Забрать покупку может ваш друг или родственник, который знает номер и имя, на кого оформлен заказ.
                </li>
            </ul>
            <span>
                <b>Внимание!
                </br>
                При оформлении заказа с пунктом "Самовывоз" - заказ храниться не более двух дней.</b>
            </span>


        <h3>Курьерская доставка по Гомелю</h3>
                <ul>
                    <li>Вы можете заказать доставку товара с помощью курьера по г.Гомелю. Стоимость услуги - 
                        <b>8 BYN</b>
                    </li>
                    <li>При оформлении заказа, выберите пункт "Доставка курьером по г.Гомель". 
                        После оформления заказа с Вами свяжется менеджер и сообщит подробности по доставке.
                    </li>
                </ul>
                <span>
                    <b>Вы вскрываете упаковку при курьере, осматриваете на целостность и соответствие указанной комплектации. Если речь идёт об одежде, допустима примерка. 
                        Время осмотра и примерки ограничено 15 минутами. После вы можете отказаться частично или полностью от покупки.</b>
                </span>
    
                
        <h3>Почтовые отправления с помощью РУП "БелПочта" по всей Беларуси</h3>
                <ul>
                    <li>
                        Если Вам удобно расплатиться <b>наличными или банковской карточкой при получении заказа в отделении почты,</b>
                         то при оформлении заказа выберите пункт <b>"Доставка: РУП "БелПочта" до почтового отделения".</b> 
                         С Вами свяжется менеджер для уточнения и проверки заказа. Когда посылка придёт в Ваше почтовое отделение, 
                         Вы на месте оплачиваете стоимость заказа и забираете посылку.
                    </li>
                    <li>
                        Если Вы хотите оплатить заказ <b>сразу с помощью банковской карты через интернет платеж для получения заказа в отделении почты,</b>
                        то выберите пункт <b>"Доставка: РУП "БелПочта" до почтового отделения".</b> С Вами свяжется менеджер для проверки заказа. 
                        Когда посылка придет в Ваше почтовое отделение, то Вы её забираете без каких-либо дополнительных оплат.
                    </li>
                </ul>
                <span>
                    <b>Для получения посылки у Вас должен быть документ удостоверяющий Вашу личность!
                        Срок доставки заказа составляет 2-3 дня по будним дням. В выходные и праздничные дни отправки "БелПочта" не производит.
                        Срок хранения посылки в отделении - до 10 дней. После 10 дней, посылка будет отправлена обратно в магазин. 
                        Если Вы не забрали посылку и она вернулась обратно, то при следующем заказе Вам придется оплатить расходы за пересылку прошлого заказа.</b>
                </span>
    
    
        <h3>Курьерская доставка по всей Беларуси</h3>
            <ul>
                <li>Доставка велосипедов, самокатов либо объемных заказов осуществляется через курьерскую службу. Белпочту</li>
                <li>Оплата заказа может быть выполнена либо <b> наличными курьеру </b> либо посредством <b>оплаты заказа банковской картой через сайт</b> с помощью интернет платежа.</li>
                <li>После оформления заказа с Вами свяжется менеджер для подтверждения заказа и уточнения информации о доставке и времени доставки.</li>
            </ul>


        <b>Наши контакты:</b>
            <p>
                <b>A1:</b> 
                <a href="tel:+375291278356">+375(29)127-83-56</a>
                <span>
                    <b>Viber:</b> +375(29)127-83-56
                </span>
            </p>
            <p><b>C 10 до 19, без выходных</b></p>
    </div>
</body>
</html>