/* Пагинация (точки) */
.custom-swiper{
  margin-top: 20px;
}
.swiper-pagination {
    position: absolute;
    bottom: 10px !important; /* Опускаем пагинацию ниже слайда */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    border-radius: 50%; /* Делаем стандартные точки круглыми */
    transition: all 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    width: 50px; /* Делаем активную точку прямоугольной */
    height: 10px;
    background-color: black;
    border-radius: 5px; /* Скругленные углы */
  }
  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }