ol {
  counter-reset: subsection; /* Обнуление счетчика для каждого нового подраздела */
  list-style-type: none; /* Отключение стандартной нумерации, так как мы будем формировать номера сами */
}

li {
  display: block; /* Каждый элемент списка представляется как отдельный блок */
}

li::before {
  counter-increment: subsection; /* Увеличение значения счетчика для каждого элемента списка */
  content: "1." counter(subsection) ". "; /* Форматирование вывода номера элемента */
}