@font-face {
  font-family: Multiround;
  src: url(/public/assets/fonts/MultiroundPro.otf);
}  
@font-face{
  font-family: Inter;
  src: url(/public/assets/fonts/Inter.ttf);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  /* transition: background 0.3s ease, color 0.3s ease; */
}
:root{
  --black: #212121;
  --primary: #FFD101;
  --primaryDark: #f5c800;
  --no-active: #F4F4F4;
  --footer-color: #DDDDDD3D;
  --stroke: #ABABAB;
}
img {
  pointer-events: none;
  user-select: none;
  cursor: default;
}
main{
  max-width: 1320px;
  margin: auto;
  margin-top: 300px;
}
body{
  margin: 24px;
}
a{
  color: var(--black);
  text-decoration: none;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
footer{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--footer-color);
  margin-top: 20px;
  padding: 25px 45px 45px 45px;
  width: 81.35%;
  border-radius: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Header */
    /* header logo & menu */
        .logo{
          width: 56px;
          height: 60px;
        }
        .headerTop{
          display: inline-flex;
          position: sticky;
          justify-content: space-between;
          align-items: center;
          background-color: var(--primary);
          width: 81.35%;
          margin-inline: auto;
          box-shadow: 0 2px 16px hsla(228, 95%, 4%, .1);
          padding: 0.625rem 1.438rem;
          border-radius: 1.25rem;
          z-index: 100;
        }
    /* /header logo & menu */
      .headerBottom,.headerButtons{
        position: absolute;
        left: -1000px;
      }
  /* /Header */
  

  /* Footer */
        footer{
          width: auto;
          margin: 1.25rem 0rem 5.5rem;
          padding: 25px;
        }
        .textFooter{
          font-family: Inter;
          font-size: 10px;
        }

        .paymentsInfo{
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          margin-top: 10px;
        }
        /* disabled elements */
      .ulFooter{
        display: none;
      }
  /* /Footer */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
/* footer colums  */
.topFooter{
  display: flex;
  flex-wrap: wrap;
}
.columnLabel{
  font-family: 'Multiround';
  font-size: 25px;
  color: var(--black);
}
.firstCol, .twoCol, .thridCol{
  padding-top: 10px;
}
.columnBtn, .textFooter{
  font-family: 'Inter';
  font-size: 15px;
}
.columnBtn{
  padding: 3px;
  opacity: 0.6;
  transition: 100ms;
}
.columnBtn:hover{
  opacity: 1;
  transition: 100ms;
}
.ulFooter{
  display: flex;
  gap: 60px;
}
/* /footer colums */
.bottomFooter{
  margin-top: 50px;
}
.paymentsInfo{
  display: flex;
  justify-content: center;
  width: 81.35%;
  margin-top: 10px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Header top section */
  
  .headerTop{
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      min-width: 87.3%;
      height: 80px;
      border-radius: 20px;
      background: var(--primary);
  }
  .logo{
      margin: 10px 0px 10px 20px;
      height: 60px;
      width: 60px;
  }
  .headerButtons{
      margin: 10px 20px 10px 0px;
  }
  .headerButtons{
      font-family: 'Inter';
      font-size: 18px;
      font-weight: 600;
  }
  .phoneBtn, .locationBtn{
    height: 80px;
    opacity: 0.6;
    transition: 100ms;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  .phoneBtn:hover, .locationBtn:hover{
    cursor: pointer;
    transition: 100ms;
    opacity: 1;
  }
  .phoneBtn{
    margin-right: 40px;
  }
  .iconPhone, .iconLocation{
    margin-right: 10px;
  }
/* /Header top section */
/* header bottom section */
.headerBottom{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 87.3%;
  height: 60px;
}
.navMenu {
  display: inline-flex;
  padding: 0 20px 0 20px;
}
.navbtn{
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px 7.5px 10px 7.5px;
  list-style-type: none;
  font-size: calc(0.6rem + 1vw);
  font-weight: 400;
  font-family: 'Multiround';
  color: #808080;
  transition: 100ms;
}
.navbtn:hover{
  color: var(--black);
  transition: 100ms;
}
.iconsBtn{
  padding: 0  20px 0 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.navicons{
  opacity: 0.6;
  transition: 100ms;
}
.navicons:hover{
  opacity: 1;
  transition: 100ms;
}
.mobileBottomNav{
  display: none;
}
.hamburger-menu-container{
  display: none;
}
/* /header bottom section */
/* footer colums  */
.topFooter{
  display: flex;
  flex-direction: column;
}
.columnLabel{
  font-family: 'Multiround';
  font-size: 25px;
  color: var(--black);
}
.firstCol, .twoCol, .thridCol{
  padding-top: 10px;
}
.columnBtn, .textFooter{
  font-family: 'Inter';
  font-size: 15px;
}
.columnBtn{
  padding: 3px;
  opacity: 0.6;
  transition: 100ms;
}
.columnBtn:hover{
  opacity: 1;
  transition: 100ms;
}
.ulFooter{
  display: flex;
  gap: 60px;
}
/* /footer colums */
.bottomFooter{
  margin-top: 50px;
}
.paymentsInfo{
  display: flex;
  justify-content: center;
  width: 81.35%;
  margin-top: 10px;
}
.mobileAccordion{
  display: none;
}
}