@font-face {
  font-family: Multiround;
  src: url(/public/font/MultiroundPro/MultiroundPro.otf);
}  
@font-face{
  font-family: Inter;
  src: url(/public/font/Inter/Inter.ttf);
}
:root{
  --black: #212121;
  --primary: #FFD101;
  --no-active: #F4F4F4;
  --footer-color: #DDDDDD3D;
}
body{
  margin-top: 10px;
}
a{
  color: var(--black);
  text-decoration: none;
}
footer, header{
  display: table;
  margin-left: auto;
  margin-right: auto;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}